{% extends "base.html" %}
{% block full_title %}Phantom Abyss Ancient Language{% endblock %}
{% block extra_styles %}
<style>
	.glyph-link {
		font-size: 1.3rem;
		text-decoration: none;
	}
	
	.hovered {
		background-color: #b58900;
	}
</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="page-header">
		<div class="row">
		  <div class="col-lg-8 col-md-7 col-sm-6">
			<h1>About</h1>
			<p>
				<a href="https://www.phantomabyss.com/">Phantom Abyss</a> is a first person action-adventure game where players play the role of an adventurer, trapped in an ancient temple. Told by a mysterious god to pursue relics deeper in the danger-ridden halls, you grab a whip and embark on a journey to collect treasure and attempt to survive along the way.<br>
				<br>
				Within the game, you can find hidden walls littered with strange glyphs, some of which you’ll begin to recognize after some time. During Phantom Abyss’s beta period and shortly post-launch, the online community started asking some questions about whether or not these glyphs had meaning. After the game launched on Steam, a new channel was added to the <a href="https://discord.gg/phantomabyss">discord</a> `#ancient-language`.<br>
				<br>
				Almost immediately, community members started posting screenshots and talking about the possible meanings of certain words. Within a week, fan-made tools started cropping up to aid in the translation efforts. And today, we are working hard to completely disassemble this intriguing <a href="https://en.wikipedia.org/wiki/Constructed_language">con-lang</a>. This website represents the culmination of those efforts.<br>
				<br>
				Although many have contributed to the effort, there are a few members that deserve some extra praise:<br>
				<ul>
					<li>@Sirwol, Team WIBY developer, for constructing such an engaging puzzle and for interacting with us online</li>
					<li>@Softflare, for building the tooling and website that you are currently reading</li>
					<li>@Naxane, @Haemogoblin, @Clockwise, @Fletch, @Veratil, @FreakOnALeash, @liq3 and many others for contributing both to translation efforts and to recording their translations for posterity’s sake.</li>
				</ul>
				We hope you learn and enjoy basking in the background and lore discovered within these translations as much as we enjoyed working on them. If you think we have something wrong (we probably do!), please come join the conversation on the discord linked above! We’d love to hear your voice.<br>
				<br>
				<br>
			</p>
			<span class="ancient-language">
				BTĒaĕ´Pę<br>
				BTĒpĕ¢ƌä§<br>
				BTĒèÑBTĒ/.ĕŪm<br>
				BTĒ±ĕYT<br>
				BTĒ/Õĕ¢ƌä§S<br>
				BTĒk<br>
			</span>
			</p>
		  </div>
		</div>
	</div>
</div>
{% include 'hovers.html' %}
{% endblock %}
