{% extends "base.html" %}
{% block title %}Grammar{% endblock %}
{% block extra_styles %}
<style>
	.glyph-link {
		font-size: 1.3rem;
		text-decoration: none;
	}
	
	.hovered {
		background-color: #b58900;
	}
</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="page-header">
		<div class="row">		  
		  <div class="col-lg-8 col-md-7 col-sm-6">
			<h1>Language Grammar</h1>
			<p class="lead">A Language grammar guide will be here at some point.
			</p>
		  </div>
		</div>
		
		{% for c in grammar_body %}
			{% if c['type'] == 'paragraph' %}
			<p>
				{% for cc in c['contents'] %}
					{% if cc['type'] == 'text' %}
						{{ cc.text }}
					{% elif cc['type'] == 'image' %}
						<image src="{{ cc['url'] }}" style="width: {{ cc['width'] }}; height: {{ cc['height'] }}">
					{% endif %}
				{% endfor %}
			</p>
			{% elif c['type'] == 'bullet-list' %}
			<ul>
				{% for cc in c['contents'] %}
					{% if cc['type'] == 'list-item' %}
						{% for cc in c['contents'] %}
							{% if cc['type'] == 'text' %}
								{{ cc.text }}
							{% elif cc['type'] == 'image' %}
								<image src="{{ cc['url'] }}">
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</ul>
			{% elif c['type'] == 'h1' %}
			<h1>{{ c .text }}</h1>
			{% elif c['type'] == 'h2' %}
			<h2>{{ c.text }}</h2>
			{% elif c['type'] == 'h3' %}
			<h3>{{ c.text }}</h3>
			{% elif c['type'] == 'h4' %}
			<h4>{{ c.text }}</h4>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% include 'hovers.html' %}
{% endblock %}
