{% extends "base.html" %}
{% block title %}Grammar{% endblock %}
{% block extra_styles %}
<style>
	.glyph-link {
		font-size: 1.3rem;
		text-decoration: none;
	}
	
	.hovered {
		background-color: #b58900;
	}
</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="page-header">
		<div class="row">		  
		  <div class="col-lg-8 col-md-7 col-sm-6">
			<h1>Language Grammar</h1>
			<p class="lead">A Language grammar guide will be here at some point.<br><br>
			</p>
		  </div>
		</div>
	</div>
		
	{% set vars = {'in_card': False} %}
	{% for c in grammar_body %}
		{% if c['type'] == 'paragraph' and c['contents']|length > 0 %}
		<p>
			{% for cc in c['contents'] %}
				{% if cc['type'] == 'text' %}
					{{ cc.text | replace_glyph_references | safe }}
				{% elif cc['type'] == 'image' %}
					<image src="{{ cc['url'] }}" style="width: {{ cc['width'] }}; height: {{ cc['height'] }}; margin-bottom: 3rem;">
				{% endif %}
			{% endfor %}
		</p>
		{% elif c['type'] == 'bullet-list' %}
		<ul>
			{% for cc in c['contents'] %}
				{% if cc['type'] == 'list-item' %}
					{% for cc in c['contents'] %}
						{% if cc['type'] == 'text' %}
							{{ cc.text }}
						{% elif cc['type'] == 'image' %}
							<image src="{{ cc['url'] }}">
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
		{% elif c['type'] == 'h1' and c['text']|length > 0 %}
			{% if vars['in_card'] %}
				</div></div>
			{% endif %}
			{% if vars.update({'in_card': True}) %}{% endif %}
			<div class="card text-white bg-dark mb-3">
				<div class="card-header"><h2>{{ c .text }}</h2></div>
				<div class="card-body">
		{% elif c['type'] == 'h2' %}
			<h3>{{ c.text }}</h3>
		{% elif c['type'] == 'h3' %}
			<h4>{{ c.text }}</h4>
		{% elif c['type'] == 'h4' %}
			<h5>{{ c.text }}</h5>
		{% endif %}
	{% endfor %}
	
	{% if vars['in_card'] %}
		</div></div>
	{% endif %}
</div>
{% include 'hovers.html' %}
{% endblock %}
