{% extends "text_base.html" %}
{% block title %}Hub Walls Texts{% endblock %}
{% block content_title %}Hub Walls Texts{% endblock %}
{% block content_subtitle %}The game's entry zone (nicknamed "the hub") contains a series of wall panels between the relic room and Bodach's statue. Here you can find the meaning of these panels and learn the lore behind Phantom Abyss.<br>For some panels, we aren't sure what the meaning is yet and they are marked as <span class="badge rounded-pill bg-secondary">Tentative</span> or <span class="badge rounded-pill bg-light">Currently Unknown</span>.{% endblock %}